<div class="add-row-editable-table" >
    <button style="display: inline;" class="btn btn-primary pull-left"  data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/addZoneRecords.html')">Add A Record</button>
    <button style="display: inline;" class="btn btn-primary pull-right"  data-toggle="modal" ng-click="applyZoneConfig(zone)">Apply Config</button>            
    <br></br>   
</div>
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >TTL<small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> TTL </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr  class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ ttl.base }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('TTL', ttl.base)">Delete</button>
                </td>
              </tr>
            </table>
            <br>
          </br>
      </div>
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >SOA<small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> root ip </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="entry in soa" class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ entry }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('ROOT_IPv4', root)">Delete</button>
                </td>
              </tr>
            </table>
            <br>
          </br>
      </div>
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >NS<small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> root ip </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="entry in ns" class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ entry }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('ROOT_IPv4', root)">Delete</button>
                </td>
              </tr>
            </table>
            <br>
          </br>
      </div> 
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >ROOT IPv4 <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> root ip </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="root in root_ipv4" class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ root || 'empty' }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('ROOT_IPv4', root)">Delete</button>
                </td>
              </tr>
            </table>
            <br>
          </br>
      </div> 
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >ROOT IPv6 <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> root ip </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="root in root_ipv6" class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ root || 'empty' }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('ROOT_IPv6', root)">Delete</button>
                </td>
              </tr>
            </table>
            <br>
          </br>
      </div>      
      <div >
          <div class="rec_title">
            <h3 style="display: inline;" >A (Host)<small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
          </div>
          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%;" > <span class="pull-left"> host record </span></td>
                <td style="width:45%" >points to</td>
                <td style="width:45%" >ttl</td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_a" class="editable-row">
                  <td style="width:45%" >
                      <span class="pull-left" e-name="name" e-form="rowform" e-required>
                        {{ zone.name || 'empty' }}
                      </span>
                  </td>
                <td style="width:45%" >
                      <a  href="#"  editable-text="zone.name" onaftersave="updateDestination(data)" >
                              {{ zone.destination || 'empty' }}
                      </a>
                </td>
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.ttl || 'default' }}
                    </span>
                </td>
                <td style="width:10%" >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('A', zone)">Delete</button>
                </td>
              </tr>
            </table>

            <br>
          </br>
      </div>
          <div class="rec_title">
            <h3 style="display: inline;">AAAA (IPv6 Host) <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>

          </div>

          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%" ><span class="pull-left"> host record </span></td>
                <td style="width:45%" >points to</td>
                <td style="width:45%" >ttl</td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_aaaa" class="editable-row">
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.name || 'empty' }}
                    </span>
                </td>
                <td style="width:45%" >
                      <a  href="#"  editable-text="zone.name" onaftersave="updateDestination(data)" >
                              {{ zone.destination || 'empty' }}
                      </a>
                </td>
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.ttl || 'default' }}
                    </span>
                </td>
                <td  style="width:10%"  >
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('AAAA', zone)">Delete</button>
                </td>
              </tr>
            </table>

            <br>
          </br>
          <div class="rec_title">
            <h3 style="display: inline;">CNAME (Alias) <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
        
          </div>

          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:45%" ><span class="pull-left"> host record </span></td>
                <td style="width:45%" >points to</td>
                <td style="width:45%" >ttl</td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_cname" class="editable-row">
                <td>
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.name || 'empty' }}
                    </span>
                </td>
                <td >
                      <a  href="#"  editable-text="zone.name" onaftersave="updateDestination(data)" >
                              {{ zone.destination || 'empty' }}
                      </a>
                </td>
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.ttl || 'default' }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('CNAME', zone)">Delete</button>
                </td>
              </tr>
            </table>

            <br>
          </br>
          <div class="rec_title">
            <h3 style="display: inline;">MX (Mail Exchanger) <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
         
          </div>

          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:40%" ><span class="pull-left"> host record </span></td>
                <td style="width:40%" >points to</td>
                <td style="width:10%" ><span class="pull-left"> priority </span></td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_mx" class="editable-row">
                <td>
                      <span class="pull-left" e-name="name" e-form="rowform" e-required>
                        @
                      </span>
                </td>
                <td >
                      <a  href="#"  editable-text="zone.name" onaftersave="updateDestination(data)" >
                              {{ zone.name || 'empty' }}
                      </a>
                </td>
                <td>
                    <a  href="#"  editable-text="zone.priority" onaftersave="updateDestination(data)" >
                        {{ zone.priority || 'empty' }}
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('MX', zone)">Delete</button>
                </td>
              </tr>
            </table>

            <br>
          </br>
          <div class="rec_title">
            <h3 style="display: inline;">TXT (Text) <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
         
          </div>

          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td style="width:40%" >host records</td>
                <td style="width:40%" ><span class="pull-left"> txt value </span></td>
                <td style="width:10%" >ttl</td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_txt" class="editable-row">
                <td>
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.name || 'empty' }}
                    </span>
                </td>
                <td >
                      <a  href="#"  editable-text="zone.entry" onaftersave="updateDestination(data)" >
                              {{ zone.entry || 'empty' }}
                      </a>
                </td>
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.ttl || 'default' }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('TXT', zone)">Delete</button>
                </td>
              </tr>
            </table>

            <br>
          </br>
          <div class="rec_title" ng-show()>
            <h3 style="display: inline;">SRV (Service) <small style="font-weight:normal"><a href="/hosting/help/714" target="_blank">What's this?</a></small></h3>
         
          </div>

          <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td>Priority</td>
                <td>host record</td>
                <td style="width:40%" >points to</td>
                <td style="width:10%" >ttl</td>
                <td style="width:10%"  >Actions</td>
              </tr>
              <tr ng-repeat="zone in zone_srv" class="editable-row">
                <td>
                    <a  href="#"  editable-text="zone.priority" onaftersave="updateSRVPriority(data)" >
                        {{ zone.priority || 'empty' }}
                    </a>
                </td>
                <td>
                    <span e-name="name" e-form="rowform" e-required>
                      @
                    </span>
                </td>
                <td >
                      <a  href="#"  editable-text="zone.name" onaftersave="updateDestination(data)" >
                              {{ zone.name || 'empty' }}
                      </a>
                </td>
                <td style="width:45%" >
                    <span class="pull-left" e-name="name" e-form="rowform" e-required>
                      {{ zone.ttl || 'default' }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord('SRV', zone)">Delete</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      
        <div class="add-row-editable-table" >
            <br></br> 
            <br></br> 
            <button style="display: inline;" class="btn btn-primary pull-right"  data-toggle="modal" ng-click="applyZoneConfig(zone)">Apply Config</button>    
        </div>      
        